body {
  color: #132743;
}

.weather-app-wrapper {
  min-width: 880px;
  max-width: 700px;
  margin: auto;
}
.weather-app {
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  font-family: "Hahmlet", serif;
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

#search-button,
#current-button {
  background-color: #132743;
  border-color: #132743;
}
#city-input {
  background-color: #faf9f0;
  border-color: #132743;
}
#search-button:hover {
  background-color: #faf9f0;
  color: #132743;
  transition: ease-in-out 2ms;
}
#current-button:hover {
  background-color: #faf9f0;
  color: #132743;
  transition: ease-in-out 2ms;
}

h1 {
  color: #132743;
  font-size: 35px;
  margin: 10px auto 0px auto;
}
li {
  list-style-type: none;
  font-size: 17px;
}
li::first-letter {
  text-transform: capitalize;
}
.description {
  color: orangered;
  font-weight: bolder;
  line-height: 35px;
}
.temperature {
  font-size: 60px;
}
.celsius {
  position: relative;
  bottom: 30px;
}
#icon {
  width: 120px;
  position: relative;
  bottom: 60px;
  left: 60px;
}
#parametros {
  position: relative;
  bottom: 60px;
}
hr {
  margin-top: -5px;
}

.weathering-forecast {
  text-align: center;
}
.forecast-days {
  font-weight: bolder;
}
.forecast-temperature-max,
.forecast-temperature-min {
  font-size: 13px;
}
.last-updated {
  position: relative;
  top: 24px;
  right: 35px;
}
.open-source {
  font-size: 13px;
  text-align: right;
  position: relative;
  bottom: 22px;
  color: orangered;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #faf9f0;
}
