body {
  background-color: #bbc1ca;
}
#city-input {
  color: black;
  border-color: black;
  background-color: whitesmoke;
}
#search-button {
  color: orangered;
  background-color: whitesmoke;
  border-color: black;
}
#current-button {
  color: orangered;
  background-color: whitesmoke;
  border-color: black;
}

.weather-app-wrapper {
  min-width: 880px;
  max-width: 700px;
  margin: 30px auto;
}
.weather-app {
  padding: 30px 45px;
  border-radius: 5px;
  border: 1px solid #dadde1;
  font-family: "Hahmlet", serif;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}
#search-form {
  margin-bottom: 10px;
}

h1 {
  font-size: 35px;
  margin-bottom: 2px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 24px;
  font-size: 15px;
}
li::first-letter {
  text-transform: capitalize;
}
.description {
  color: orangered;
  font-weight: bolder;
  line-height: 35px;
  font-size: 20px;
}
.temperature {
  font-size: 60px;
}
#icon {
  width: 120px;
  position: relative;
  bottom: 45px;
}
.celsius {
  position: relative;
  bottom: 30px;
}
.weather-app .active {
  color: black;
  cursor: default;
}
#parametros {
  position: relative;
  bottom: 50px;
}
hr {
  color: black;
  margin-top: -5px;
}

.col {
  text-align: center;
}
.forecast-temperature-max {
  font-size: 13px;
}
.forecast-temperature-min {
  font-size: 13px;
}

i {
  font-size: 30px;
  opacity: 0.8;
}

.forecast-days {
  line-height: 35px;
}
.last-updated {
  position: relative;
  bottom: 0;
  top: 24px;
  right: 35px;
}
.open-source {
  font-size: 13px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 490px;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: orangered;
}
