:root {
  --primary-color: #132743;
  --secondary-color: #faf9f0;
  --terciary-color: darkgray;
  --quaternary-color: whitesmoke;
}
body {
  color: whitesmoke;
}

.weather-app-wrapper {
  min-width: 700px;
  max-width: 750px;
  margin: auto;
}
.weather-app {
  border-radius: 12px;
  border: 1px solid var(--primary-color);
  font-family: "Hahmlet", serif;
}

#search-button,
#current-button {
  background-color: #132743e5;
  border-color: var(--primary-color);
}
#city-input {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}
#search-button:hover {
  background-color: var(--terciary-color);
  color: var(--primary-color);
  transition: ease-in-out 2ms;
}
#current-button:hover {
  background-color: var(--terciary-color);
  color: var(--primary-color);
  transition: ease-in-out 2ms;
}

h1 {
  color: var(--quaternary-color);
  font-size: 35px;
  margin: 10px auto 0px auto;
}
li {
  list-style-type: none;
  font-size: 17px;
}
li::first-letter {
  text-transform: capitalize;
}
.description {
  color: var(--primary-color);
  font-weight: bolder;
  line-height: 35px;
}
.temperature {
  font-size: 60px;
}
.celsius {
  position: relative;
  bottom: 30px;
}
#icon {
  width: 120px;
  position: relative;
  bottom: 60px;
  left: 60px;
}
#parametros {
  position: relative;
  bottom: 60px;
}

.weathering-forecast {
  text-align: center;
  color: var(--primary-color);
}
.forecast-days {
  font-weight: bolder;
}
.forecast-temperature-max,
.forecast-temperature-min {
  font-size: 13px;
}
.forecast-temperature-max {
  font-weight: bold;
}
.local-time {
  font-size: 13px;
  color: var(--primary-color);
  position: relative;
  top: 24px;
  right: 35px;
}
.open-source {
  font-size: 13px;
  text-align: center;
  position: relative;
  bottom: 24px;
  color: var(--primary-color);
}
a {
  text-decoration: none;
  font-weight: 600;
}
